<app-sidebar>
    <div class="custom-container">
        <div class="py-4">
            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4">INVOICES</h1>
                </div>
                <div>
                    <a routerLink="/invoice/create" class="btn btn-outline-gray-600">
                        <i class="fa-solid fa-plus"></i>
                        ADD INVOICE
                    </a>
                </div>
            </div>
        </div>

        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th class="border-0">#</th>
                                <th class="border-0">Client</th>
                                <th class="border-0">Total</th>
                                <th class="border-0">Created</th>
                                <th class="border-0">Updated</th>
                                <th class="border-0 rounded-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (invoice of invoices; track $index) {
                                <tr>
                                    <td class="align-middle">{{ invoice.id }}</td>
                                    <td class="align-middle">{{ invoice.client }}</td>
                                    <td class="align-middle">৳ {{ invoice.total | commaSeparate }}</td>
                                    <td class="align-middle">{{ invoice.created | toDateTime }}</td>
                                    <td class="align-middle">{{ invoice.updated | toDateTime }}</td>
                                    <td class="align-middle">
                                        <button class="btn btn-sm btn-outline-gray-600 me-1">
                                            <i class="fa-solid fa-edit"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-gray-600" >
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <!-- <mat-paginator [length]="total_data" [pageSize]="dataLimit" (page)="handlePageEvent($event)" [pageSizeOptions]="[50, 100, 500]"></mat-paginator> -->
            </div>
        </div>
    </div>
</app-sidebar>