/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/default.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* Mobile (default) - typically < 576px */
  .custom-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /* Tablet - typically ≥ 576px */
  @media (min-width: 576px) {
    .custom-container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  /* Desktop - typically ≥ 992px */
  @media (min-width: 992px) {
    .custom-container {
      padding-left: 15px;
      padding-right: 15px;
      max-width: 100%; /* Optional: set a max-width for very large screens */
    }
  }